.setting-base {
  .ant-card-meta-title {
    margin-bottom: 0 !important;
  }

  .meta-desc {
    line-height: 1.7;

    .loginname {
      margin-bottom: 8px;
    }
  }

  .poster {
    display: block;
    background: #f7f7f7;
    object-fit: cover;
  }
}

.formdom {
  .formitem {
    margin-bottom: 15px;
  }
}
