$base-url: "@/assets/login/login.jpg";
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url($base-url);
  background-repeat: no-repeat;
  background-size: cover;
}
