// $base-url: "@/assets/login/login.jpg";
// 134|dfgG6kRMsd3SP6E0ZJvieEq98mOOhdaATYQRZruZ
$base-url:'https://www.freeimg.cn/i/2024/01/13/65a28bad6be9e.jpg';
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url($base-url);
  background-repeat: no-repeat;
  background-size: cover;
}
