.container {
  width: 324px;
  min-height: 366px;
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -183px;
  margin-left: -162px;
  background: rgba(164, 203, 200, 0.3);
  &:hover {
    box-shadow: -4px 4px 16px 1px rgba(0, 0, 0, 0.15);
    background: rgba(164, 203, 200, 1);
    transition:
      box-shadow 1s,
      background 1s,
      transform 2s;
  }
}

.title {
  text-align: center;
  padding: 0px 12px;
}

.forgetPassword {
  float: right;
  padding-right: 12px;
  cursor: pointer;
  color: #1890ff;
}

.other {
  padding-bottom: 24px;
}

.submit {
  text-align: center;
}

.captchaLogin {
  margin-top: -11px;
}

.captchaContainer {
  position: relative;
  top: 11px;
}

.captchaInput {
  width: 50%;
}

.ohter {
  display: flex;
  justify-content: center;
  gap: 15px;
  // justify-content: center;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

.type {
  display: block;
}
