.container {
  user-select: none;
  width: 324px;
  min-height: 366px;
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -183px;
  margin-left: -162px;
  background: rgba(164, 203, 200, 0.3);
  &:hover {
    box-shadow: -4px 4px 16px 1px rgba(0, 0, 0, 0.15);
    background: rgba(164, 203, 200, 1);
    transition:
      box-shadow 1s,
      background 1s,
      transform 2s;
  }
}

.title {
  text-align: center;
  padding: 0px 12px;
}

.forgetPassword {
  float: right;
  padding-right: 12px;
  cursor: pointer;
  color: #1890ff;
}

.other {
  padding-bottom: 24px;
}

.submit {
  text-align: center;
}

.captchaLogin {
  margin-top: -11px;
}

.captchaContainer {
  position: relative;
  top: 11px;
}

.captchaInput {
  width: 50%;
}

.ohter {
  display: flex;
  justify-content: center;
  gap: 15px;
  // justify-content: center;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

.type {
  display: block;
}

.changeQR{
  cursor: pointer;
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  right: 0px;
  border-top-left-radius: 8px;
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgba(7, 67, 36, 0.8);
  border-left: 30px solid rgba(7, 67, 36, 0.8);
  transform: rotate(90deg);
}

.code{
  float: right;
  margin-top: -22px;
  margin-right: -10px;
  width: 30px;
  height: 30px;
  background: url("/src/assets/qrcode-mini.png") no-repeat ;
  background-size: 100%;
}

.card{
  text-align: center;
  margin-top: 45px;
}