.container {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  background-color: #7cc1ad;
  color: #fff;
}

.user {
  float: right;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #41b3a3;
  }
}

.nameContainer {
  padding: 0 12px;
}

.name {
  margin-left: 6px;
}

.logo {
  float: left;
  cursor: pointer;
  user-select: none;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.title {
  /*渐变背景*/
  background-image: -webkit-linear-gradient(
    left,
    #3498db,
    #f47920 10%,
    #d71345 20%,
    #f7acbc 30%,
    #ffd400 40%,
    #3498db 50%,
    #f47920 60%,
    #d71345 70%,
    #f7acbc 80%,
    #ffd400 90%,
    #3498db
  );
  color: transparent; /*文字填充色为透明*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  /* 动画 */
  animation: masked-animation 4s infinite linear;
}
