.AccountBind {
  .bangdinghao {
    padding-right: 12px;
    font-size: 17px;
    .font17 {
      font-size: 17px;
    }
    .playicon {
      font-size: 40px;
      margin-top: 12px;
    }
    .ant-list-item-action {
      li {
        a {
          font-size: 17px;
        }
      }
    }
  }
  .list {
    margin-bottom: 10px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    font-size: 17px;
    .left {
      flex: 1;
    }
    .xiugaitype {
      font-size: 17px;
      line-height: 70px;
      margin-right: 12px;
    }
    .offstate {
      color: #999;
    }
  }
}
