.userAdminContainer {
  padding: 12px;
}

.searchContainer {
  margin: 12px 0px;
  padding: 12px;
  background-color: #fff;
  border-radius: 6px;
}

.tableContainer {
  border-radius: 6px;
  background-color: #fff;
  margin-top: 12px;
}
