.container {
  position: absolute;
  bottom: -20px;
  left: 24px;
  z-index: 9;
  height: 130px;
  user-select: none;
  cursor: pointer;
}

.userAvatar {
  float: left;
  transition: 0s linear;
  transform:rotate(0deg);
  &:hover{
    transition: 30s linear;
    transform:rotate(3600deg);
  }
}

.info {
  float: left;
  margin: 42px 0 0 20px;
  color: #fff;
}

.title {
  font-size: 22px;
}
.desc {
  margin-top: 6px;
}
