.contextb {
  z-index: -1;
  position: absolute;
  width: calc(100% + 5px);
  height: 100%;
  top: 0px;
  left: -5px;
}

:global {
  .anticon.anticon-close {
    color: #000;
  }
}

.contextmenuDom {
  user-select: none;
  position: fixed;
  // 用了wangeditor 需要比编辑器更高层级
  z-index: 20000;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 112px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -4px 4px 16px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  li:first-child {
    border-radius: 8px 8px 0px 0px;
  }

  li {
    &:first-of-type {
      border-radius: 8px 8px 0px 0px;
    }
    width: 100%;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    &:hover {
      background-color: #41b3a3;
      color: #313653;
      transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  li:last-child {
    border-radius: 0px 0px 8px 8px;
  }
}

.tagsdiv {
  background: #fff;
  padding: 6px 4px 0px 4px;
  :global {
    .ant-tabs-nav-list {
      padding: 0;
      .ant-tabs-tab {
        background: #fafafa;
        border: 1px solid #e8e8e8;
        padding: 0px;
        margin: 0px;
        margin-right: 2px;
      }
      .ant-tabs-tab-active.ant-tabs-tab {
        .anticon.anticon-close {
          &:hover {
            color: #1890ff;
          }
        }
      }
      .ant-tabs-ink-bar {
        background: transparent;
      }
    }
  }
}

.DropChild {
  white-space: nowrap;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #aeaeae;
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.tagitem {
  margin: 0px;
  padding: 0px;
  background: transparent;
  .tagChildDiv {
    padding: 10px 0px 10px 16px;
    margin: 0px;
    margin-right: 2px;
    border: 1px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 2px;
    background: #fafafa;
    line-height: 22px;
    white-space: nowrap;
    b.round {
      float: left;
      width: 9px;
      height: 9px;
      background: #ccc;
      border-radius: 50%;
      margin-top: 7px;
      margin-left: 0px;
      margin-right: 5px;
    }
    b.name {
      color: #575757;
      &:hover {
        color: #313653;
        opacity: 0.85;
      }
    }
    .bottomline {
      width: 100%;
      height: 4px;
      background: #fafafa;
      border-radius: 0px 0px 100px 100px;
    }
    .close {
      color: #898989;
      margin-left: 12px;
      margin-top: 5px;
      margin-right: 12px;
      &:hover {
        color: #313653;
      }
    }
  }
}

.ant-tabs-nav-list {
  background-color: #000;
}
