.layout {
  width: 100vw;
  background-color: #f0f2f5;
}

.content {
  background-color: #f0f2f5;
}

.sider {
  height: calc(100vh - 52px);
  overflow: auto;
  user-select: none;
}

.pageContent {
  overflow: auto;
  height: 100%;
}

.outletContainer {
  height: calc(100vh - 88px);
  overflow: auto;
}

.pageOutlet {
  min-height: calc(100vh - 70px);
  border-left: 4px solid #fff;
}
