.container {
  padding: 12px;
}

.tipContainer{
  margin-bottom: 12px;
}

.tip {
  font-size: 1em;
}

.weightFont {
  font-size: 15px;
  color: #f00;
  padding:0 6px;
}

.header {
  margin: 12px 0;
}

.tableContainer{
  background-color: #fff;;
  padding: 0px 12px;
  margin-top: 12px;
}