.container {
  padding: 2px 20px 2px 16px;
  margin: 0px;
  border-bottom: 2px solid #000;
  border-radius: 4px 4px 0 0;
  background: #fafafa;
  white-space: nowrap;
  user-select: none;
  position: relative;
}

.activeContainer {
  @extend .container;
  border-bottom: 2px solid #41b3a3;
}

.round {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 9px;
  height: 9px;
  background: #ccc;
  border-radius: 50%;
}

.activeRound {
  @extend .round;
  background: #41b3a3;
}

.name {
  color: #575757;
  margin: 0 5px;
  &:hover {
    color: #313653;
    opacity: 0.85;
  }
}

.close {
  background: transparent no-repeat 100% 100%;
  background-size: cover;
  border-radius: 50%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAHhlWElmTU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAABAAIAAIdpAAQAAAABAAAATgAAAAAAAACQAAAAAQAAAJAAAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAACCgAwAEAAAAAQAAACAAAAAAfgvaUgAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAAalJREFUWAntlr9OwzAQxm2XAV4DIfEQTFHE2p2B5+hSiQ5d+jh0BKlZUJ6i8BxUUBt/up5kOU7iM38W4sWxc3ffz2dfYqWm9t8zoOME7HYv1859Lo3Re6Xspqqq99hGMm6a5lwps7DWXSl1XNV1/Rr6n4UDerYPWus755TS2tz4APNSiLZtLw6Hj0cf69bHVM7NIHEfappwgGfn3BvPwdHTb2kVPJvXw4fF2YOyyiPqOwDG2LWHfWazEohT2rfkS5Eopt1wXO47ZwAvBgKMbofUNwlQCiEVh04vgBSiRHwUIBeiVDwLYAwC71EpiQM3el7gObgFMODWv0qULsqV2um0Z4nDIxsAxikIzHOTisNPBACHPogSccTrfIgw+ZdNlIG+1TNwSRayM9Aj/kSihFDy2c7KQEqcV0vSv1iGQ+L8m86x4W2K+8EMSAJLbEOIXoCSgCU+SYCSQLwqqW8HQBqAhcNeEiNRhmbxnW87QOhw2nlcotaaZQiK5w4A3V7JjEuNT3vsPDROQfiL6WXsk7gVH1e4vf7EtRwQfjt8JuharvVsHQNM4ykDX94FYhBKOJraAAAAAElFTkSuQmCC);
  width: 16px;
  height: 16px;

  margin-top: 3px;
  position: absolute;
  top: 3px;
  &:hover {
    background-color: #1772f6;
  }
}

.bottomline {
  width: 100%;
  height: 4px;
  background: #fafafa;
  border-radius: 0px 0px 100px 100px;
}

.contextb {
  z-index: -1;
  position: absolute;
  width: calc(100% + 5px);
  height: 100%;
  top: 0px;
  left: -5px;
}
