.textshow {
  padding: 10px 0px;
  position: relative;
}
.contextb {
  z-index: -1;
  position: absolute;
  width: calc(100% + 5px);
  height: 100%;
  top: 0px;
  left: -5px;
}
.contextmenuDom {
  user-select: none;
  position: fixed;
  z-index: 999;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 112px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -4px 4px 16px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  li:first-child {
    border-radius: 8px 8px 0px 0px;
  }
  li {
    &:first-of-type {
      border-radius: 8px 8px 0px 0px;
    }
    width: 100%;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    &:hover {
      color: #1890ff;
      transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

.tagsdiv {
  background: #fff;
  padding: 6px 4px 0px 4px;
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      background: #fafafa;
      border: 1px solid #e8e8e8;
      padding: 0px;
      margin: 0px;
      margin-right: 2px;
      .tagitem {
        padding: 10px 36px 10px 16px;
        margin: 0px;

        .bottomline {
          position: absolute;
          left: 0px;
          top: 37px;
          width: 100%;
          height: 4px;
          background: #fafafa;
          border-radius: 0px 0px 100px 100px;
        }
        .close {
          position: absolute;
          width: 20px;
          height: 30px;
          line-height: 30px;
          top: 5px;
          color: #898989;
          margin-left: 12px;
          &:hover {
            color: #1890ff;
          }
        }
      }
      b.round {
        float: left;
        width: 9px;
        height: 9px;
        background: #ccc;
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 5px;
      }
      b.bottomline {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 4px;
        width: 100%;
        border-radius: 0 0 5px 5px;
      }
    }
    .ant-tabs-tab-active.ant-tabs-tab {
      color: #1890ff;
      b.round {
        background: #1890ff;
      }
      .tagitem {
        .bottomline {
          background: #1890ff;
        }
      }
    }
  }
}
